.element__like-icon {
  width: 22px;
  height: 19px;
  background-image: url(../../../image/Like-min.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.element__like-icon:hover {
  transition: 0.3s;
  opacity: .5;
}