.form__input-profession {
  margin: 30px auto 0;
  padding: 0 0 13px;
  min-width: 358px;
  border: #fff;
  border-bottom: 1px solid rgba(00, 00, 00, .2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
@media screen and (max-width: 767px)  {
  .form__input-profession {
    min-width: 238px;
  }
}